pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
google_accounts.json
installation_id
extensions
mcp-oauth-tokens-v2.json
tmp
state.json
